<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond $1 !^(index\.php|resources|robots\.txt)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?/$1 [L]

  # Ensure Authorization header is passed along
  RewriteCond %{HTTP:Authorization} .
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # Header set Access-Control-Allow-Origin "http://localhost:3000"
  # Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
  # Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"

  Header set Access-Control-Allow-Origin "http://localhost:3000"
  Header set Access-Control-Allow-Methods "GET,POST,PUT,DELETE,OPTIONS"
  Header set Access-Control-Allow-Headers "Content-Type, Origin, Access-Control-Allow-Headers, Authorization, X-Requested-With, Token, Accept"
  Header set Access-Control-Expose-Headers "Authorization"
</IfModule>